@page
@* @model MelancholyYoutubeMusicDownloader.Models.UrlModels; *@
<h1>hello world</h1>
<form asp-controller="HomeController" method="post" asp-action="ProcessUrls" role="form">
    <input asp-for="Urls" placeholder="Enter URLs" />
    <button type="submit">Submit</button>
</form>

